/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 24. 5. 2022, 15:17:21
    Author     : admin
*/

input:invalid {
  border: 2px dashed red;
}

input:invalid:required {
  background-color: lightcoral;
}

input:valid {
  border: 1px solid black;
}